#container-esquerda {
  background: linear-gradient(90deg, #2180E1 0%, #3EC9D4 50%, #42D2D2 100%);
  box-shadow: 0 16px 32px -8px rgba(33,201,212,0.65);
  border-radius: 1.5rem;
  width: 100%;
  max-width: 95vw;
  padding: 1.5rem 1rem;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

/* Telas médias */
@media (min-width: 640px) {
  #container-esquerda {
    max-width: 500px;
    padding: 2rem 2rem;
    border-radius: 2rem;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  #container-esquerda {
    display: flex;
    justify-content: center;
    max-width: 500px;
    padding: 1rem 3rem;
    border-radius: 2.5rem;
  }
}

/* Telas grandes */
@media (min-width: 1024px) {
  #container-esquerda {
    max-width: 800px;
    padding: 2rem 10rem;
    border-radius: 2.5rem;
  }
}

/* Telas extra grandes */
@media (min-width: 1280px) {
  #container-esquerda {
    max-width: 900px;
    padding: 0rem 0.5rem;
    border-radius: 3rem;
    padding-bottom: 0;
    height: 390px;
    width: 32.7rem;
  }
}

.relative {
  position: relative;
}

/* Estilo base da imagem (desktop) */
.img-vazada {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: auto;
  z-index: 20;
  pointer-events: none;
}






/* Telas menores que 768px → imagem pequena */
@media (max-width: 765px) {
  .img-vazada {
    width: 330px;
    top: -39px;
    margin-left: 6rem;
  }
}


@media (min-width: 766px) {
  .img-vazada {
    width: 300px;
    top: -40px;
    margin-left: 8rem;
  }
}


/* Telas menores que 768px → imagem pequena */
@media (max-width: 640px) {
  .img-vazada {
    width:  300px;
    top:  -25px;
    margin-left: 6rem;
  }
}



 



/* 1024px ou mais → imagem maior */
@media (min-width: 1024px) {
  .img-vazada {
    width: 400px;
    margin-left: 1rem;
    margin-top: 3rem;
  }
}

/* 1280px ou mais → imagem ainda maior */
@media (min-width: 1280px) {
  .img-vazada {
    width: 450px;
    margin-left: 6rem;
    margin-top: 1.3rem;
    top: -80px;
  }
}

/* Textos */
@media (min-width: 640px) {
  #container-esquerda h2, #container-esquerda, #container-esquerda h3 {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* Textos */
@media (max-width: 640px) {
  #container-esquerda h2, #container-esquerda, #container-esquerda h3 {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
} 

@media (min-width: 768px) {
  #container-esquerda h2, #container-esquerda, #container-esquerda h3 {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  #container-esquerda h2, #container-esquerda, #container-esquerda h3 {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1280px) {
  #container-esquerda h2, #container-esquerda button, #container-esquerda h3 {
    text-align: left;
    margin-left: 0.5rem;
    margin-right: 0;
    padding-top: 0rem;
  }

  #container-esquerda h2 {
    padding-top: 2rem;
  }
}

@media (max-width: 639px) {
  h2, h3 {
    text-align: center;
    margin-left: 0;
  }
}


@media (max-width: 639px) {
   h2 {
    font-size: 3rem;
  }
}

#container-esquerda h2 {
  font-size: 2rem;
}

#container-esquerda h3 {
  font-size: 0.9rem;
}
